# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Caches
data/sbert_cache.npy
data/debug_output.txt
data/sbert_error.txt

# Microsoft Word (Temporary Files)
~$*

# Environments
.env
.venv/
env/
venv/
